[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Adafruit-BNO055" = "==1.0.2"
Adafruit-GPIO = "==1.0.3"
Adafruit-PureIO = "==0.2.1"
curio = "*"
bison = "*"
hiredis = "*"
curio-redis = {git = "https://github.com/destos/curio-redis.git", editable = true, ref = "556284a879d206db193e8bdf07dbc50275d3267b"}
pycatalog = "*"
py = "*"

[dev-packages]
fake-rpi = "==0.5.1"
ipdb = "*"
"flake8" = "*"
pytest-cov = "*"
pytest = "*"
isort = "*"
mock = "*"
cov-core = "*"
pdbpp = "*"

[requires]
python_version = "3.6"
