[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"adafruit-bno055" = "==1.0.2"
adafruit-gpio = "==1.0.3"
adafruit-pureio = "==0.2.1"
curio = "*"
bison = "*"
hiredis = "*"
curio-redis = {git = "https://github.com/destos/curio-redis.git", editable = true, ref = "556284a879d206db193e8bdf07dbc50275d3267b"}
pycatalog = "*"
pycapnp = "*"


[dev-packages]

fake-rpi = "==0.5.1"
ipdb = "*"


[requires]

python_version = "3.6"
